.roomsTable{
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 40px 0 rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: 0 0 40px 0 rgb(0 0 0 / 5%);
    position: relative;
    padding-top: 60px;
    background-color: transparent;
    border-collapse: collapse;
    margin-top: 2em;
    width:80%;
}

th {
    color: #000000;
    font-size: 1em;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: left;
}
td {
    color: #3a3a3a;
    font-weight: 400;
    padding: 0.65em 1em;
}
.disabled td {
    color: #4F5F64;
}
tbody tr {
    transition: background 0.25s ease;
}
tbody tr:hover {
    background: #f1f1f1;
}

#bookingId, #customerId, #date{
    width: 55%;
}

span{
    width: 100%;
}